.DS_Store

live/staging/credentials.json
live/staging/gcp-gke/.terragrunt-cache/
live/staging/gcp-gke/.terraform.lock.hcl
live/staging/gcp-sql/.terragrunt-cache/
live/staging/gcp-sql/.terraform.lock.hcl

live/prod/credentials.json
live/prod/gcp-gke/.terragrunt-cache/
live/prod/gcp-gke/.terraform.lock.hcl
live/prod/gcp-sql/.terragrunt-cache/
live/prod/gcp-sql/.terraform.lock.hcl